.toggle-offcanvas {
  display: inline-block;
  background-color: #3f0f30;
  color: white;
  margin-right: 2rem;
  font-size: 1rem;
  position: absolute;
  right: -3.125rem;
  top: 1.5rem;
  width: 6.25rem;
  border-radius: 10rem;
}

.offcanvas-container {
  border: double;
  border-color: rgb(89, 2, 97);
  margin-top: 2rem;
}

.up-button {
  display: inline-block;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  margin-top: 0.3rem;
  width: 6.25rem;
  border-radius: 10rem;
}