body {
  background: blue;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  color: lightsalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
}

.events {
  display: flex;
  flex-direction: column;
}