body {
  background: linear-gradient(124deg, rgba(36, 22, 0, 1) 80%, rgba(195, 193, 16, 1) 100%, rgba(133, 71, 47, 0.711922268907563) 100%);
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  color: lightsalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
}

.events {
  display: flex;
  flex-direction: column;
}