:root {
  --left-margin: 0.7rem;
}

.card-element {
  display: flex;
}

.card-title {
  font-size: x-large;
  font-style: italic;
  color: yellow;
}

.card-text {
  color: aliceblue;
  margin-left: var(--left-margin);
}

.card-link {
  color: rgb(204, 19, 211);
  margin-left: var(--left-margin);
}